*{
    padding: 0;
    margin: 0;
}
.header {
    padding: 30px;
    background: #0ff;
}


.sumbit_form {
	background: white;
	padding: 39px;
	border: 1px solid #f0eeee;
}
.table_section{
	margin-top: 50px;
}